<%= render_navbar("instructors", @schedule) %>
<% if @instructors.empty? %>
    <p class="container h1 text-secondary">No instructors added to this schedule!</p>
<% else %>
  <div class="container border-2 border-dark">
  <table class="table col-8 border-2 border-dark table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col"><%= sortable "id_number", "ID Number" %></th>  
        <th scope="col"><%= sortable "first_name", "First Name" %></th>
        <th scope="col"><%= sortable "middle_name", "Middle Name" %></th>
        <th scope="col"><%= sortable "last_name", "Last Name" %></th>
        <th scope="col"><%= sortable "email", "Email" %></th>
        <th scope="col"><%= sortable "before_9", "Teaches Before 9" %></th>
        <th scope="col"><%= sortable "after_3", "Teaches After 3" %></th>
        <th scope="col"><%= sortable "beaware_of", "Be Aware Of" %></th>
        <th scope="col"><%= sortable "max_course_load", "Course Load" %></th>
        <th>Actions</th>
      <tr>
    </thead>

    <tbody>
      <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.id_number %></td>  
        <td><%= instructor.first_name%></td>
        <td><%= instructor.middle_name%></td>
        <td><%= instructor.last_name%></td>
        <td><%= instructor.email %></td>    
        <td><%= instructor.before_9 ? "Yes" : "No" %></td>
        <td><%= instructor.after_3 ? "Yes" : "No" %></td>
        <td><%= instructor.beaware_of %></td>
        <td><%= instructor.max_course_load %></td>
        <td>
          <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#preferences-<%= instructor.id %>" aria-expanded="false" aria-controls="preferences-<%= instructor.id %>">
            View Preferences
          </button>
        </td>
      </tr>

      <!-- Collapsible Row for Preferences -->

      <tr class="collapse" id="preferences-<%= instructor.id %>">
        <td colspan="4">
          <table class="table table-sm table-hover mt-2">
            <thead>
              <tr>
                <th>Course</th>
                <th>Preference Level</th>
              </tr>
            </thead>

            <tbody>
              <% instructor.instructor_preferences.each do |preference| %>
                <tr>
                  <td><%= preference.course.course_number %></td>
                  <td><%= preference.preference_level %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <% end %>

    </tbody>
  </table>
  </div>
<% end %>
