<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% @time_slots.each do |slot| %>
        <tr>
          <td>
            <span class="day-box <%= "day-#{slot.day.downcase}" %>">
              <%= slot.day %>
            </span>
          </td>
          <td><%= slot.start_time %></td>
          <td><%= slot.end_time %></td>
          <td><%= slot.slot_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
