<%= form_with url: time_slots_path, method: :get, local: true do %>
    <div class="filters">
      <div>
        <%= label_tag :day, 'Filter by Day' %>
        <%= select_tag :day, options_for_select(['MWF', 'MW', 'TR', 'F'], params[:day]), include_blank: 'All Days' %>
      </div>
      <div>
        <%= label_tag :slot_type, 'Filter by Type' %>
        <%= select_tag :slot_type, options_for_select(['LEC', 'LAB'], params[:slot_type]), include_blank: 'All Types' %>
      </div>
      <%= submit_tag 'Filter', class: 'btn btn-primary' %>
    </div>
  <% end %>
  
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Day</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <% @time_slots.each do |slot| %>
          <tr>
            <td>
              <span class="day-box <%= "day-#{slot.day.downcase}" %>">
                <%= slot.day %>
              </span>
            </td>
            <td><%= slot.start_time %></td>
            <td><%= slot.end_time %></td>
            <td><%= slot.slot_type %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  