<!-- app/views/schedules/index.html.erb -->

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Schedules you are working on</h1>
    <%= link_to "Create a New Schedule", new_schedule_path, class: "btn btn-dark" %>
  </div>

  <%= form_tag "/schedules", method: "GET" do %>
    <%= label_tag :search_by_name %>
    <%= text_field_tag :search_by_name, params[:search_by_name] %>
    <%= submit_tag "Search" %>
  <% end %>
  
  <!-- Loop through each schedule in the database -->
  <% @schedules.each do |schedule| %>
    <div class="container">
      <div class="card sched-card">
        <div style="transform: rotate(0);">
          <div class="card-header"><h4><%= schedule.schedule_name %><h5></div>
          <div class="card-body" >
            Semester: <%= schedule.semester_name %><br>Some Info about the schedule
            <%= link_to '', schedule_path(schedule), class: 'stretched-link'  %>        
          </div>
        </div>
        <div style="margin-bottom:5px; margin-left:5px">
          <%= button_to 'Delete', schedule_path(schedule), method: :delete, class: 'btn btn-danger btn-sm'%>
        </div>
      </div>
    </div>
  <% end %>
</div>
