<div class="px-4 py-2 border-bottom">
    <div class="col-12 row justify-content-between align-items-center">
        <div class="col-3 h1">
            Fall 2024
        </div>
        <div class="col-6 row justify-content-end align-items-center" style="height: 2.5em;">
            <button class="col btn btn-secondary px-4 mx-1">
                Add Predefined Courses
            </button>
            <button class="col btn btn-dark px-4">
                Export
            </button>
        </div>
    </div>
</div>
<%= render_navbar("rooms") %>
<div class="container border-2 border-dark">
  <div class="row p-4">
    <%= link_to (@active_filter ? 'Show All Rooms' : 'Show Active Rooms'), rooms_path(active_rooms: @active_filter ? false : true), class: 'btn btn-dark col-3' %>
  </div>
    <table class="table col-8 border-2 border-dark table-hover table-bordered">
        <thead class="table-dark">
            <tr>
            <th scope="col"><%= sortable "campus", "Campus" %></th>
            <th scope="col"><%= sortable "building_code", "Building Code" %></th>
            <th scope="col"><%= sortable "room_number", "Room Number" %></th>
            <th scope="col"><%= sortable "capacity", "Capacity" %></th>
            <th scope="col" class="col-1">Lecture Hall</th>
            <th scope="col" class="col-1">Learning Studio</th>
            <th scope="col" class="col-1">Lab</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            <% @rooms.each do |room| %>
            <tr>
                <td><%= room.campus %></td>
                <td><%= room.building_code %></td>
                <td><%= room.room_number %></td>
                <td><%= room.capacity %></td>
                <%= display_usage_type room.is_lecture_hall,room.is_active %>
                <%= display_usage_type room.is_learning_studio,room.is_active %>
                <%= display_usage_type room.is_lab,room.is_active %>
                <td>
                    <button class="btn btn-secondary">Set Active</button>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
