<%= render_navbar("courses", @schedule) %>

<% if @courses.empty? %>
    <p class="container h1 text-secondary">No courses added to this schedule!</p>
<% else %>
<div class="container border-2 border-dark">
  
    <table id= "courses" class="table col-8 border-2 border-dark table-hover table-bordered">
        <thead class="table-dark">
            <tr>
            
            <th scope="col"><%= sortable "course_number", "Course Number" %></th>
            <th scope="col"><%= sortable "max_seats", "Max Seats" %></th>
            <th scope="col"><%= sortable "lecture_type", "Lecture Type" %></th>
            <th scope="col"><%= sortable "num_labs", "Number of Labs" %></th>
            </tr>
        </thead>
        <tbody>
            <% @courses.each do |course| %>
            <tr>
                
                
                <td><%= course.course_number %></td>
                <td><%= course.max_seats %></td>
                <td><%= course.lecture_type %></td>
                <td><%= course.num_labs %></td>
                
                
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% end %>